<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessysnow.boot.mapper.BlogMapper">
    <!--开启二级缓存-->
    <cache/>
    <!-- 感知 User 空间的修改 -->
    <cache-ref namespace="com.jessysnow.boot.mapper.UserMapper"/>

    <!-- List<Blog> selectAll();-->
    <!--从数据库中查询出所有的Blog对象-->
    <select id="selectAll" resultType="Blog">
        SELECT * FROM blog;
    </select>

    <!-- List<Blog> selectByUserId(@Param("userId")long userId);-->
    <select id="selectBlogByUserId" resultType="Blog">
        SELECT *
        FROM blog
        WHERE user_id = #{userId}
    </select>

    <!-- List<Blog> selectBlogByCategoryId(@Param("categoryId")int categoryId);-->
    <select id="selectBlogByCategoryId" resultType="Blog">
        SELECT *
        FROM blog
        WHERE
        <if test="categoryIds != null and categoryIds.size() > 0">
            <foreach collection="categoryIds" item="categoryId" separator="," open="(" close=")">
                #{categoryId}
            </foreach>
        </if>
    </select>

    <!-- Blog selectBlogById(@Param("id")long id);-->
    <select id="selectBlogById" resultType="Blog">
        SELECT *
        FROM blog
        WHERE id = #{id};
    </select>

    <!-- List<Blog> selectLastNineBlogs();-->
    <select id="selectLastNineBlogs" resultType="Blog">
        SELECT *
        FROM blog
        ORDER BY pub_date DESC
        LIMIT 0, 9;
    </select>

    <!-- List<BlogWrapper> selectLastNineBlogWrappers();-->
    <select id="selectLastNineBlogWrappers" resultType="BlogWrapper">
        SELECT b.id, b.title, b.pub_date, b.user_id, b.count, b.banner, b.content, c.value
        FROM blog b
        LEFT JOIN category c
        ON b.category_id = c.id
        ORDER BY pub_date DESC
        LIMIT 0, 9;
    </select>

    <!-- void insertANewBlog(@Param("title")String title,@Param("content")String content,@Param("categoryId")int categoryId, @Param("userId")long userId);-->
    <insert id="insertANewBlog">
        INSERT INTO blog(title, content, pub_date, category_id, user_id)
        VALUES
        (#{title}, #{content}, NOW(), #{categoryId}, #{userId});
    </insert>


    <!-- List<BlogWrapper> selectBlogWrapperByUserId(@Param("userId") long userId);-->
    <select id="selectBlogWrapperByUserId" resultType="BlogWrapper">
        SELECT b.id, b.title, b.pub_date, b.user_id, b.count, b.banner, b.content, c.value
        FROM blog b
        LEFT JOIN category c
        ON b.category_id = c.id
        LEFT JOIN `user` u
        ON b.user_id = u.id
        WHERE u.id = #{userId};
    </select>

</mapper>
