<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessysnow.boot.mapper.CommentMapper">

    <!--开启二级缓存-->
    <cache/>
    <!-- 感知 User 空间的修改 -->
    <cache-ref namespace="com.jessysnow.boot.mapper.BlogMapper"/>

    <!-- List<Comment> selectCommentByBlogId(@Param("blogId") long blogId);-->
    <select id="selectCommentByBlogId" resultType="Comment">
        SELECT * FROM comment
        WHERE blog_id = #{blogId};
    </select>

    <!-- void insertNewComment(String content, long blogId);-->
    <insert id="insertNewComment">
        INSERT INTO comment(blog_id, content, pub_date, user_id)
        VALUES
        (#{blogId}, #{content}, NOW(), #{userId});
    </insert>

    <resultMap id="commentWrapperMapper" type="CommentWrapper">
        <result property="content" column="content"/>
        <result property="pubDate" column="pub_date"/>
        <association property="user" javaType="User">
            <result property="username" column="username"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>

    <!-- List<CommentWrapper> selectCommentWrapperByBlogId(@Param("blogId") long blogId);-->
    <select id="selectCommentWrapperByBlogId" resultMap="commentWrapperMapper">
        SELECT c.content, c.pub_date, u.username, u.avatar
        FROM comment c
        JOIN user u
        ON c.user_id = u.id
        WHERE c.blog_id = #{blogId};
    </select>
</mapper>
